.wrapper {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
}

header {
  padding: 30px 0 0;
  border-bottom: solid;
}

footer {
  border-top: solid;
  clear: both;
}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}

#zdroj1 {
  color: #3366ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj2 {
  color: #1a53ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj3 {
  color: #0040ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj4 {
  color: #0039e6;
  font-family: "Times New Roman", Times, serif;
}
#zdroj5 {
  color: #0033cc;
  font-family: "Times New Roman", Times, serif;
}
#zdroj6 {
  color: #b300b3;
  font-family: "Times New Roman", Times, serif;
}
#zdroj7 {
  color: #cc00cc;
  font-family: "Times New Roman", Times, serif;
}
#zdroj8 {
  color: #e600e6;
  font-family: "Times New Roman", Times, serif;
}
#zdroj9 {
  color: #ff00ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj10 {
  color: #1a1aff;
  font-family: "Times New Roman", Times, serif;
}
#Fancy {
  background-image: linear-gradient(#000d33, #660066);
}