.wrapper {
  margin: 30px auto;
  max-width: 800px;
}

header {
  padding: 30px 0 0;
  border-bottom: solid;
  border-color: #000033;
}

footer {
  clear: both;
}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
  border-color: #000033;
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
  margin-left: 25px;
  color: #ffe6ff;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}

#zdroj1 {
  color: #ffe6ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj2 {
  color: #ffe6ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj3 {
  color: #ffe6ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj4 {
  color: #ffe6ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj5 {
  color: #ffe6ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj6 {
  color: #ffe6ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj7 {
  color: #ffe6ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj8 {
  color: #ffe6ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj9 {
  color: #ffe6ff;
  font-family: "Times New Roman", Times, serif;
}
#zdroj10 {
  color: #ffe6ff;
  font-family: "Times New Roman", Times, serif;
}
#Fancy {
  background-image: linear-gradient(#000d33, #660066);
}
#wrapper {
  background-image: linear-gradient(#000d33, #660066);
}
body div.page{
  color: #ffe6ff;
}
body div.wrapper h1 {
  color: #ffe6ff;
  text-align: center;
}
h1.nadpis {
  color: #ffe6ff;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 50px;
}
p.description {
  color: #ffe6ff;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 19px;
}